.animation{
    color:red;
    transform: translateX(100px) translateY(75px);
    transition: transform 500ms ease-in-out 25ms;  
    animation-iteration-count: infinite;
}
li{
    animation-duration: 10s;
    animation-name: slidein;

}
@keyframes slidein{
    from{
        margin-left: 100%;
        
    }
    to{
        margin-left:0%;
       
    }
}
